GROQ_API_KEY=your_groq_api_key_here
HF_API_KEY=your_huggingface_api_key_here
MONGODB_URI=mongodb+srv://your_user:your_password@cluster.mongodb.net/
PINECONE_API_KEY=your_pinecone_api_key_here
RANKING_MODE=old

# Allowed CORS Origin Domain
FRONTEND_URL=http://localhost:5173
